{% extends 'store/base.html' %}

{% block content %}

<h1 style="font-size:45px;">
    Bienvenidos a la Paletería 🍦
</h1>

<h3 style="
    text-align:center;
    color:#666;
    font-style:italic;
    margin-bottom:40px;
    font-size:25px;
">
    “El rincón más dulce y helado”
</h3>

<div style="display:flex; flex-wrap:wrap; justify-content:center; gap:20px;">

{% for product in products %}
<div class="card" style="
    width:250px; 
    text-align:center; 
    border:1px solid #ccc; 
    padding:15px; 
    border-radius:10px;
">

    {% if product.imagen %}
        <img src="{{ product.imagen.url }}"
             width="200"
             height="200"
             style="
                border-radius:10px;
                object-fit:cover;
             ">
    {% endif %}

    <h3>{{ product.name }}</h3>

    <p>{{ product.description }}</p>

    <p><strong>${{ product.price }}</strong></p>

    <!-- 🔥 BOTÓN CARRITO -->
    <a href="{% url 'add_to_cart' product.id %}" 
       style="
       display:inline-block;
       background:#ff9800;
       color:white;
       padding:8px;
       margin-top:10px;
       text-decoration:none;
       border-radius:5px;
       ">
       🛒 Agregar al carrito
    </a>

</div>
{% endfor %}

</div>

{% endblock %}