{% extends 'store/base.html' %}

{% block content %}

<h1>Registrarse 👤</h1>

<form method="POST" style="max-width:400px; margin:auto;">

    {% csrf_token %}

    <input type="text"
           name="username"
           placeholder="Usuario"
           required
           style="width:100%; padding:10px; margin:10px 0;">

    <input type="email"
           name="email"
           placeholder="Correo"
           required
           style="width:100%; padding:10px; margin:10px 0;">

    <input type="password"
           name="password"
           placeholder="Contraseña"
           required
           style="width:100%; padding:10px; margin:10px 0;">

    <button type="submit">
        Registrarse
    </button>

</form>

{% endblock %}